<h1>Welcome to Password Manager</h1>
<h3>An easy password management tool</h3>
<p>Don't have an account <a href="/signup">Signup Now!</a></p>
<p>Already signed up! Proceed to <a href="/login">Login!</a></p>
