<h1>Login</h1>
<form method="post" action="/accounts">
<p><label>Account Name</label>
<input type="text" name="accountname" id="accountname"></p>
<p><label>Account Password:</label>
<input type="text" name="accountpassword" id="accountpassword"></p>
<input type="submit" name="submit" value="Add">
</form>

<a href="/">HOME</a>
